In [1]:
!pip install pandas==1.3.4
!pip install sqlalchemy==1.4.49

Requirement already satisfied: pandas==1.3.4 in c:\programdata\anaconda3\envs\mlenv\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\envs\mlenv\lib\site-packages (from pandas==1.3.4) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\envs\mlenv\lib\site-packages (from pandas==1.3.4) (2023.3.post1)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\envs\mlenv\lib\site-packages (from pandas==1.3.4) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\mlenv\lib\site-packages (from python-dateutil>=2.7.3->pandas==1.3.4) (1.16.0)

WARNING: Ignoring invalid distribution -treamlit (c:\programdata\anaconda3\envs\mlenv\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\programdata\anaconda3\envs\mlenv\lib\site-packages)

Requirement already satisfied: sqlalchemy==1.4.49 in c:\programdata\anaconda3\envs\mlenv\lib\site-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\envs\mlenv\lib\site-packages (from sqlalchemy==1.4.49) (2.0.1)

WARNING: Ignoring invalid distribution -treamlit (c:\programdata\anaconda3\envs\mlenv\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\programdata\anaconda3\envs\mlenv\lib\site-packages)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
df = pd.read_csv("fhvhv_tripdata_2021-01.csv", nrows=100)

In [4]:
df.head()

,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag
0,HV0003,B02682,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,NaN
1,HV0003,B02682,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,NaN
2,HV0003,B02764,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,NaN
3,HV0003,B02764,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,NaN
4,HV0003,B02764,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,NaN

In [5]:
engine = create_engine("postgresql+psycopg2://root:root@localhost:5432/ny_taxi")

In [8]:
df_iter = pd.read_csv("fhvhv_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [9]:
first_chunk = next(df_iter)
first_chunk["pickup_datetime"] = pd.to_datetime(first_chunk["pickup_datetime"])
first_chunk["dropoff_datetime"] = pd.to_datetime(first_chunk["dropoff_datetime"])

first_chunk.head(0).to_sql(
    name="yellow_taxi_data",
    con=engine,
    if_exists="replace",
    index=False
)

first_chunk.to_sql(
    name="yellow_taxi_data",
    con=engine,
    if_exists="append",
    index=False
)

In [10]:
for i, chunk in enumerate(df_iter, start=2):
    chunk["pickup_datetime"] = pd.to_datetime(chunk["pickup_datetime"])
    chunk["dropoff_datetime"] = pd.to_datetime(chunk["dropoff_datetime"])
    
    chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append",
        index=False
    )
    
    print(f"Inserted chunk {i}")

Inserted chunk 2
Inserted chunk 3
Inserted chunk 4
Inserted chunk 5
Inserted chunk 6
Inserted chunk 7
Inserted chunk 8
Inserted chunk 9
Inserted chunk 10
Inserted chunk 11
Inserted chunk 12
Inserted chunk 13
Inserted chunk 14
Inserted chunk 15
Inserted chunk 16
Inserted chunk 17
Inserted chunk 18
Inserted chunk 19
Inserted chunk 20
Inserted chunk 21
Inserted chunk 22
Inserted chunk 23
Inserted chunk 24
Inserted chunk 25
Inserted chunk 26
Inserted chunk 27
Inserted chunk 28
Inserted chunk 29
Inserted chunk 30
Inserted chunk 31
Inserted chunk 32
Inserted chunk 33
Inserted chunk 34
Inserted chunk 35
Inserted chunk 36
Inserted chunk 37
Inserted chunk 38
Inserted chunk 39
Inserted chunk 40
Inserted chunk 41
Inserted chunk 42
Inserted chunk 43
Inserted chunk 44
Inserted chunk 45
Inserted chunk 46
Inserted chunk 47
Inserted chunk 48
Inserted chunk 49
Inserted chunk 50
Inserted chunk 51
Inserted chunk 52
Inserted chunk 53
Inserted chunk 54
Inserted chunk 55
Inserted chunk 56
Inserted chunk 57
Inserted chunk 58
Inserted chunk 59
Inserted chunk 60
Inserted chunk 61
Inserted chunk 62
Inserted chunk 63
Inserted chunk 64
Inserted chunk 65
Inserted chunk 66
Inserted chunk 67
Inserted chunk 68
Inserted chunk 69
Inserted chunk 70
Inserted chunk 71
Inserted chunk 72
Inserted chunk 73
Inserted chunk 74
Inserted chunk 75
Inserted chunk 76
Inserted chunk 77
Inserted chunk 78
Inserted chunk 79
Inserted chunk 80
Inserted chunk 81
Inserted chunk 82
Inserted chunk 83
Inserted chunk 84
Inserted chunk 85
Inserted chunk 86
Inserted chunk 87
Inserted chunk 88
Inserted chunk 89
Inserted chunk 90
Inserted chunk 91
Inserted chunk 92
Inserted chunk 93
Inserted chunk 94
Inserted chunk 95
Inserted chunk 96
Inserted chunk 97
Inserted chunk 98
Inserted chunk 99
Inserted chunk 100
Inserted chunk 101
Inserted chunk 102
Inserted chunk 103
Inserted chunk 104
Inserted chunk 105
Inserted chunk 106
Inserted chunk 107
Inserted chunk 108
Inserted chunk 109
Inserted chunk 110
Inserted chunk 111
Inserted chunk 112
Inserted chunk 113
Inserted chunk 114
Inserted chunk 115
Inserted chunk 116
Inserted chunk 117
Inserted chunk 118
Inserted chunk 119
Inserted chunk 120